body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 2%;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1,
h2 {
  color: #333;
  text-align: center;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

p {
  margin-bottom: 20px;
  text-align: center;
}

section {
  margin-bottom: 40px;
}

.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.card img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input {
  width: calc(33.33% - 10px);
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form button {
  width: calc(33.33% - 10px);
  margin-bottom: 10px;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form button:hover {
  background-color: #0056b3;
}

.tecnologias-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tecnologia {
  width: calc(30% - 20px);
  margin: 0 10px 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s, background-color 0.3s;
}

.tecnologia:hover {
  transform: translateY(-5px);
  background-color: #f0f0f0;
}

.tecnologia-img {
  width: 150px;
  height: auto;
  border-radius: 4px;
  margin-bottom: 10px;
}

.tecnologia h3 {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}

.tecnologia p {
  font-size: 16px;
  color: #666;
  margin-bottom: 10px;
}

/* Estilos para el título de la actividad */
.activity-title {
  font-size: 30px;
  color: #ff4444;
  margin-bottom: 10px;
  text-align: center;
}

/* Estilos para la descripción de la actividad */
.activity-description {
  font-size: 16px;
  color: #666666;
  margin-bottom: 10px;
}

/* Estilos para la imagen de la actividad */
.activity-image {
  width: 300px;
  height: auto;
  border-radius: 4px;
  margin-bottom: 10px;
}

.activity-card {
  display: inline-block; /* Mostrar las tarjetas una al lado de la otra */
  width: calc(30% - 20px); /* Ancho deseado para cada tarjeta */
  margin: 0 10px 20px; /* Margen entre las tarjetas */
  padding: 20px;
  background-color: #3bc49079;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center; /* Centrar el contenido dentro de la tarjeta */
}

.activity-card h3, .activity-card p {
  margin: 10px 0; /* Margen entre el título, la descripción y la imagen */
}

.activity-card img {
  display: block; /* Asegurar que la imagen se muestre como un bloque */
  margin: 0 auto 10px; /* Centrar la imagen */
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}


.delete-button {
  background-color: #ff4444; /* Color de fondo del botón */
  color: white; /* Color del texto */
  border: none; /* Sin borde */
  padding: 8px 16px; /* Espaciado interno */
  border-radius: 4px; /* Borde redondeado */
  cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
  transition: background-color 0.3s; /* Transición suave del color de fondo */
}

.delete-button:hover {
  background-color: #cc0000; /* Cambio de color de fondo al pasar el mouse sobre el botón */
}


